<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
</head>
<body>
<div class="login">

    <h1>Login</h1>
    <form action="#" method="post">

        <input type="text"  placeholder="email" name="u" required="required" />

        <input type="password" placeholder="password" name="p" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Login to your account</button>

        <button type="submit" name="registerButton" class="btn btn-primary btn-block btn-large">Register</button>
    </form>
</div>
</body>
</html>
